<link rel="stylesheet" href="/public/css/how_it_works.css" />

<section class="how_it_works_section">
    <div class="how_it_works_textDiv">
        <h1>How it woks</h1>
        <p>Renting a luxury car has never been easier. 
            Our streamlined process makes it simple for you
            to book and confirm your vehicle of choice online</p>
    </div>
    <div class="how_it_works-divTextImg">
        <div class="how_it_works_smallerTextDivs">
            <div>
                <div class="img_div">
                    <img src="/public/images/magnifier.svg" alt="">
                </div>                
                <div>
                    <h2>Browse and select</h2>
                    <p>Choose from our wide range of premium cars, select the pickup and return dates and locations that suit you best.</p>
                </div>
            </div>
            <div>
                <div class="img_div">
                    <img src="/public/images/calendar.svg" alt="">
                </div>                
                <div>
                    <h2>Book and confirm</h2>
                    <p>Book your desired car with just a few clicks and receive an instant confirmation via email or SMS.</p>
                </div>
            </div>       
            <div>
                <div class="img_div">
                    <img src="/public/images/smile.svg" alt="">
                </div>                 
                <div>
                    <h2>Enjoy your ride</h2>
                    <p>Pick up your car at the designated location and enjoy your premium driving experience with our top-quality service.</p>
                </div>
            </div>        
        </div>
        <img src="/public/images/how_it_works-image.png" alt="">
    
    </div>
</section>
