<link rel="stylesheet" href="/public/css/our-services.css" />
<link rel="stylesheet" href="/public/css/text-div.css" />

<section class="our-services-section">
    <div class="car_collection_texts">
        <div class="car_collection_texts_div white">
            <h3>Our Services & Benefits</h3>
            <p>To make renting easy and hassle-free, we provide a variety of services and advantages. We have you covered with a variety of vehicles and flexible rental terms.</p>    
        </div>
    </div>

    <div class="services-card-div">
        <div class="services-card">
            <img src="/public/images/services1.svg" alt="">
            <h4>Quality Choice</h4>
            <p>We offer a wide range of high-quality vehicles to choose from, including luxury cars, SUVs, vans, and more.</p>
        </div>
        <div class="services-card">
            <img src="/public/images/services2.svg" alt="">
            <h4>Affordable Prices</h4>
            <p>Our rental rates are highly competitive and affordable, allowing our customers to enjoy their trips without breaking the bank.</p>
        </div>
        <div class="services-card">
            <img src="/public/images/services3.svg" alt="">
            <h4>Convenient Online Booking</h4>
            <p>With our easy-to-use online booking system, customers can quickly and conveniently reserve their rental car from anywhere, anytime.</p>
        </div>
    </div>

</section>